.links {
  margin-bottom: 40px;
  @include flex-display(flex, row, space-between, 80%, center);
  @include media(tablet) {
    width: 30%;
    margin: 0px;
  }
  @include media(laptop) {
    width: 20%;
  }
  @include media(landscape) {
    padding-bottom: 10px;
    width: 50%;
    margin: 10px;
  }

  li {
    text-align: center;
    width: 50%;
    background-color: #333333;

    @include font-fam-size(1.6em, $main-font-2, 200, #ffffff);

    transition: all 0.7s;
    margin: 8px 8px;

    a {
      text-decoration: none;
      color: #fff;
      display: block;
      padding: 10px;
    }
    @include media(landscape) {
      font-size: 1.6em;
      box-shadow: none;
      margin: 0;
      width: 30%;
    }

    @include media(tablet) {
      width: 50%;
      font-size: 1.2em;
    }
    @include media(laptop) {
      width: 40%;
      font-size: 1.1em;
    }

    &:hover {
      background-color: hsl(15, 76%, 70%);
      box-shadow: 0 0 0 3px hsl(15, 76%, 70%), 0 0 0 5px hsl(30, 76%, 70%);
      text-decoration: none;
    }
  }
}
.modal-header {
  width: 100%;
  padding: 0 10px;
  float: right;
  border: none;
  .close {
    font-size: 34px;
  }
}
