#home {
  @include flex-display(flex, column, space-between, 100%, center);
  height: 80vh;
  @include media(tablet) {
    height: 100vh;
    background: none;
  }
}

#portfolio {
  @include flex-display(flex, column, space-between, 100%, center);
  height: 100vh;

  @include media(tablet) {
    height: auto;
  }
  @include media(landscape) {
    height: 100vh;
  }
}

#about {
  @include flex-display(flex, column, space-between, 100%, center);
  height: 90vh;
  @include media(laptop) {
    //height: auto;
  }

  @include media(landscape) {
    height: auto;
  }

  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    height: auto;
  }
}
